/* Your styles here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');

h1 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 1.5em;
    color: rgb(15, 162, 182);
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}


p {
    line-height: 30px;
    font-size: 1.4em;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #393d41;
}

header {
    background-color: #000;
    padding: 30px;

}

header img {
    width: 180px;
    margin-left: 20px;
}

main {
    background-image: url(img/banner.jpg);
    background-size: 120%;
    background-position: center;
    padding: 15% 10%;
    text-align: center;
}

main h1 {
    color: rgb(15, 162, 182);
}


input {
    width: 300px;
    height: 80px;
    margin-top: 80px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #f04c2f;
    background-color: #f04c2f;
    border-radius: 5px;
    font-size: 1.3em;
    font-family: 'Montserrat', sans-serif;
}


.italic {
    font-style: italic;
    color: #fff;
}

.ruolo {
    color: #fff;
}

#copy {
    font-size: 0.9em;
    text-align: center;
    margin-left: none;
}

#laptop {
    width: 600px;
    border: 0px solid #fff;
    border-radius: 100%;
    margin: 100px;
}

.textleft {
    display: inline;
    text-align: left;
    position: absolute;
    margin-top: 120px;
}

.orangebox {
    color: #fff;
    background-color: #e22d0e;
    padding: 5%;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.orangebox h2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.8em;
}

.orangebox h1 {
    font-size: 2.2em;
}

.orangebox p {
    font-size: 1.4em;
}

.alignitems {
    align-items: center;
    margin: 80px 50px
}

.box {
    border: 1px solid#dee1e3;
    display: inline-block;
    width: 500px;
    height: 500px;
    text-align: center;
    margin-left: 60px;
    vertical-align: baseline;
}

.box img {
    width: 500px;
    height: 300px;
}

.box h2 {
    font-size: 1.1em;
    margin-top: 25px;
}

.box p {
    font-size: 1em;
    margin-top: 12px;
    margin-bottom: 25px;
    margin-left: 12px;
    margin-right: 12px;
}

footer {
    background-color: #25a2c3;
}

.footer {
    padding: 4%;
    margin-top: 7px;
    width: 300px;
    margin-left: 690px
}

.footer p {
    font-size: 1em;
    margin-left: 30px;
    line-height: 10px;
    color: #fff;
}

.footer h1 {
    margin-bottom: 30px;
    color: #fff;
}

.footer hr {
    margin: 40px 8px;
    border: 1px solid #fff;
}

.footer a {
    color: #fff;
}